<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd"
   default-init-method="init"
   default-destroy-method="destroy">
   

<bean id="spHandler" class="com.vishnu.SPHandler">
	<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
	<property name="url" value="jdbc:sqlserver://server-name\\instance-name:port-number;databaseName=database-name"></property>
	<property name="user" value="username"></property>
	<property name="password" value="your-password"></property>
</bean>

<bean id="excelHandler" class="com.vishnu.ExcelHandler">
</bean>

</beans>
